<table class = "inventory-table">
  <thead>
  <tr>
    <th>
      Key
    </th>
    <th>
      DMC
    </th>
    <th>
      Amount
    </th>
    <th>

    </th>
    <th>

    </th>
  </tr>
  </thead>
  <tbody>
  <% @inventory.each do |entry| %>
  <tr>
    <td style="background-color: rgb(<%= Spool.find(entry.spools_id)[:rgb] %>)">
    </td>
    <td>
      <%= Spool.find(entry.spools_id)[:dmc] %>
    </td>
    <td>
      <%= entry.separate_length[0] %> skeins
      and <%= entry.separate_length[1] %>m
    </td>
    <td>
      <% if entry.check_in_use(entry.spools_id, current_user.projects) %>
      <span class="glyphicon glyphicon-exclamation-sign exclamation-alert" aria-hidden="true">
      <% end %>
    </td>
    <td>
      <form action="/deletethread/<%= entry.spools_id %>" method="post">
         <button type="submit" class="submit-with-icon">
           <span class="glyphicon glyphicon-remove-sign"></span>
         </button>
      </form>
    </td>


  </tr>
  <% end %>
  </tbody>

</table>

<h3>Adjust inventory</h3>

<% if @params[:error] %>
  <p>Amount in inventory has to be positive</p>
<% end %>

<form action="/inventory" method="post">
  <select name="operator" class = "fancy-select operator">
    <option value="1">
      Add
    </option>
    <option value = "-1">
      Subtract
    </option>
  </select>
  <select name='spools_id' class="single-select fancy-select">
  <option disabled = "disabled" selected>DMC</option>
    <% Spool.all.each do |spool| %>
    <option value="<%= spool[:id] %>"><%= "#{spool[:dmc]} - #{spool[:name]}" %></option>
    <% end %>

  </select>
  <input name = "whole" placeholder = "# of skeins"  />
  and
  <input name = "point" placeholder = "metres" />
  <button class = "btn" type = "submit">Adjust</button>
</form>
