<table class = "shoppinglist-table">
  <tr>
    <th>
      Key
    </th>
    <th>
      DMC
    </th>
    <th>
      Amount
    </th>
  </tr>
  <% @list.each do |entry| %>
  <tr>
    <td style="background-color: rgb(<%= Spool.find(entry.spools_id)[:rgb] %>)">
    </td>
    <td>
      <%= Spool.find(entry.spools_id)[:dmc] %>
    </td>
    <td>
      <%= entry.amount %> skeins
    </td>
    <td>
      <form action="/buythread/<%= entry.spools_id %>" method="post">
         <button type="submit" class="submit-with-icon">
           <span class="glyphicon glyphicon-shopping-cart"></span>
         </button>
      </form>
    </td>
  </tr>
  <% end %>

</table>

<h3>Add a thread</h3>
<form action="/shoppinglist" method="post">
  <select name='spools_id' class="fancy-select">
  <option disabled = "disabled" selected>DMC</option>
    <% Spool.all.each do |spool| %>
    <option value="<%= spool[:id] %>"><%= "#{spool[:dmc]} - #{spool[:name]}" %></option>
    <% end %>

  </select>
  <input name = "amount" placeholder = "Enter amount"  />
  <button type="submit" class="btn">Add thread</button>
</form>
